header.header-area.clearfix
    // Close Icon
    .nav-close
        i.fa.fa-close(aria-hidden='true')
    // Logo
    .logo
        a(href='index.html')
            img(src='img/core-img/logo.png', alt='')
    // Amado Nav
    nav.amado-nav
        ul
            li.list-option
                a(href='index.html') Home
            li.list-option
                a(href='shop.html') Shop
            li.list-option
                a(href='product-details.html') Product
            li.active.list-option
                a(href='cart.html') Cart
            li.list-option
                a(href='checkout.html') Checkout
    // Button Group
    //.amado-btn-group.mt-30.mb-100
        //a.btn.amado-btn.mb-15(href='#') %Discount%
        //a.btn.amado-btn.active(href='#') New this week
    // Cart Menu
    .cart-fav-search.mb-100
        a.cart-nav(href='cart.html')
            img(src='img/core-img/cart.png', alt='')
            |  Cart
            span (0)
        a.fav-nav(href='#')
            img(src='img/core-img/favorites.png', alt='')
            |  Favourite
        a.search-nav(href='#')
            img(src='img/core-img/search.png', alt='')
            |  Search
    // Social Button
    //.social-info.d-flex.justify-content-between
        a(href='#')
            i.fa.fa-pinterest(aria-hidden='true')
        a(href='#')
            i.fa.fa-instagram(aria-hidden='true')
        a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
        a(href='#')
            i.fa.fa-twitter(aria-hidden='true')
// Header Area End