.search-wrapper.section-padding-100
    .search-close
        i.fa.fa-close(aria-hidden='true')
    .container
        .row
            .col-12
                .search-content
                    form(action='#', method='get')
                        input#search(type='search', name='search', placeholder='Type your keyword...')
                        button(type='submit')
                            img(src='img/core-img/search.png', alt='')